# --- Directorios de compilación de PlatformIO ---
.pio/
.pioenvs/
.piolibdeps/
*.bin
*.elf
*.hex
*.a
*.o
*.obj
*.out

# --- Archivos de entorno y editor local ---
.vscode/
.idea/
*.suo
*.user

# --- Archivos del Sistema Operativo ---
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
desktop.ini

# --- Logs y cachés ---
*.log
.cache/